<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hello_springboot.mapper.ProductMapper">

    <select id="getProductById" parameterType="long" resultType="com.example.hello_springboot.entity.Product">
        SELECT * FROM products WHERE id = #{id}
    </select>

    <select id="getAllProducts" resultType="com.example.hello_springboot.entity.Product">
        SELECT * FROM products
    </select>

    <insert id="insertProduct" parameterType="com.example.hello_springboot.entity.Product">
        INSERT INTO products(name, price) VALUES(#{name}, #{price})
    </insert>

    <update id="updateProduct" parameterType="com.example.hello_springboot.entity.Product">
        UPDATE products SET name = #{name}, price = #{price} WHERE id = #{id}
    </update>

    <delete id="deleteProduct" parameterType="long">
        DELETE FROM products WHERE id = #{id}
    </delete>
</mapper>